<div class="about container">
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% for section in site.posts reversed %}
        {% if section.layout == 'about' %}
          {% if section.title == 'About' %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#{{ section.title | slugify }}" aria-expanded="true" aria-controls="{{ section.title | slugify }}">
                    {{ section.title }}
                  </a>
                </h4>
              </div>
              <div id="{{ section.title | slugify }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ section.title | slugify}}">
                <div class="lead about-text panel-body">
                  {{ section.content }}
                </div>
              </div>
            </div>
          {% else %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{ section.title | slugify }}" aria-expanded="false" aria-controls="{{ section.title | slugify }}">
                    {{ section.title }}
                  </a>
                </h4>
              </div>
              <div id="{{ section.title | slugify }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ section.title | slugify}}">
                <div class="lead about-text panel-body">
                  {{ section.content }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
