<head>
	<title>TReND-Links</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.1/css/foundation.css" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/e638dd4cb6/UntitledProject/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <script src="//fast.eager.io/NivdbArKYO.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
</head>

