<link rel="icon"
      type="image/png"
      href="https://raw.githubusercontent.com/travs/TReND-links/gh-pages/assets/favicon.ico">

<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="TReND Links: Academic Exchange Service" />

<title>TReND Links</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="//travs.github.io/TReND-links/javascripts/list.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//travs.github.io/TReND-links/css/custom.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- Bootstrap treeview script -->
<script src="//travs.github.io/TReND-links/javascripts/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
