<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
	<div class="main-wrapper">
        {% include 'nav.html' %}
		<div class="main-banner">
			<h1>Welcome to TReND-Links!</h1>
			<p>An academic exchange service for African neuroscientists.</p>
		</div>
		<div class="content-row group">
			<div class="extra-content col">
				<h3>Login</h3>     
          <form>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
          <div id="lower">
          <input type="submit" value="Register">
          <input type="submit" value="Login">
          </div><!--/ lower-->
          </form>
			</div>
			<div class="primary-content col">
				<h2>Primary Content</h2>
				<img class="feat-img" src="http://lorempixel.com/400/300" />
				<p>Bacon ipsum dolor sit amet chicken pork ground round brisket corned beef ball tip shank tail salami filet mignon ham hock pork belly venison shankle. Pig kielbasa drumstick sausage pork chop boudin. Chicken t-bone salami pork chop, beef ribs kevin ham tri-tip beef venison biltong brisket.</p>
				<p>Venison strip steak meatball chicken, brisket prosciutto sirloin. Capicola drumstick brisket tri-tip salami. Chicken beef jerky, tail turkey prosciutto cow ham sirloin boudin tenderloin. Meatloaf tri-tip turducken brisket andouille, pork belly corned beef fatback hamburger.</p>
			</div>
			<div class="secondary-content col">
				<h3>Secondary Content</h3>
				<p>Strip steak tenderloin kevin swine meatloaf capicola, doner beef turducken pancetta corned beef pork loin shoulder.</p>
				<hr>
				<p>Pork filet mignon leberkas, tail swine venison pancetta turkey shoulder brisket chalkers likes hamburgers.</p>
			</div>
		</div>
    <div>
    {% include 'footer.html' %}
    </div>
	</div>
</body>
</html>
