<!DOCTYPE html>
<html>
<head>
	<title>TReND-Links</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/e638dd4cb6/UntitledProject/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <script src="//fast.eager.io/NivdbArKYO.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
</head>
<body>
	<div class="main-wrapper">
		<header class="main-header">
			<ul class="main-nav">
				<li class="main-logo"><h1><a href="#">TReND-Links</a></h1></li>
				<li><a href="/about" data-icon="&#xe600;">About</a></li>
				<li><a href="/members" data-icon="&#xe601;">Members</a></li>
				<li><a href="http://trendinafrica.org" data-icon="&#xe602;">TReND Home</a></li>
			</ul>
		</header>
		<div class="main-banner">
			<h1>Welcome to TReND-Links!</h1>
			<p>An academic exchange service for African neuroscientists.</p>
		</div>
		<div class="content-row group">
			<div class="extra-content col">
				<h3>Extra Content</h3>
				<p>Filet mignon turkey flank doner strip steak. Frankfurter ham hock turkey, venison sirloin pig chuck shank capicola hamburger doner spare ribs boudin.</p>
				<hr>
				<p> Drumstick bresaola meatloaf ham hock salami tri-tip landjaeger beef filet mignon biltong boudin turkey.</p>
			</div>
			<div class="primary-content col">
				<h2>Primary Content</h2>
				<img class="feat-img" src="http://lorempixel.com/400/300" />
				<p>Bacon ipsum dolor sit amet chicken pork ground round brisket corned beef ball tip shank tail salami filet mignon ham hock pork belly venison shankle. Pig kielbasa drumstick sausage pork chop boudin. Chicken t-bone salami pork chop, beef ribs kevin ham tri-tip beef venison biltong brisket.</p>
				<p>Venison strip steak meatball chicken, brisket prosciutto sirloin. Capicola drumstick brisket tri-tip salami. Chicken beef jerky, tail turkey prosciutto cow ham sirloin boudin tenderloin. Meatloaf tri-tip turducken brisket andouille, pork belly corned beef fatback hamburger.</p>
			</div>
			<div class="secondary-content col">
				<h3>Secondary Content</h3>
				<p>Strip steak tenderloin kevin swine meatloaf capicola, doner beef turducken pancetta corned beef pork loin shoulder.</p>
				<hr>
				<p>Pork filet mignon leberkas, tail swine venison pancetta turkey shoulder brisket chalkers likes hamburgers.</p>
			</div>
		</div>
    <div>
      <footer class="main-footer">
        <ul id="main-foot">
          <li>&copy;2014 Example Layout<li>
          <li class="test"><a class="hvr-icon-fade" href="https://github.com/travs/TReND-links">Contribute</a></li>
        </ul>
      </footer>
    </div>

	</div>
</body>
</html>
