---
layout: default
---

<div class="profile container">
  <div class="row">
    {% include header.html %}
    <div class="col-sm-4 col-sm-offset-2 ">
      <img class="img-responsive img-rounded vcenter" src="https://s.gravatar.com/avatar/c9a16caf6cde2ed73c383c6be548e96f?s=600">
    </div>
    <div class="col-sm-4">
      <h2 class="name">{{ page.name }}</h2>
      <h4 class="country">{{ page.country }}</h4>
      <h5 class="university">{{ page.university }}</h5>
      <a class="email" href="mailto:{{ page.email }}">{{ page.email }}</a>
      <p class="fields">{{ page.fields | array_to_sentence_string | capitalize }}</p>
      <p class="model-system"><em>Model system: </em>{{ page.model-system }}</p>
      <p class="research-technique"><em>Main research technique: </em>{{ page.research-technique }}</p>
    </div>
  </div>
</div>
